body {
    text-align: center;
    font-family: 'Monstserrat';
    background-color: rgb(252, 96, 96);
    margin: 0;
    padding: 0;
}

#min, #sec, #txt {
    font-size:150pt;
}

#p, #header {
    font-size: 60pt;
}

.btn {
    padding: 15px 30px;
    font-family: 'Montserrat';
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h1 {
    margin-bottom: 0px;
}

#intervals, #intervalsCount {
    font-size: 20pt;
}